<!DOCTYPE html>
<html lang="es">
    <style>
        body {
          background: #b9de5d; /* fallback for old browsers */
     
        }
      </style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Consulta</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md text-end">

        <div class="container-fluid"><a class="navbar-brand"  style="cursor: pointer;">Expediente Clínico
                Digital  [{{rol}}] - {{nombre}}  </a><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse text-end" id="navcol-1">
                        <ul class="navbar-nav ms-auto">
                          <li class="nav-item"><a class="nav-link" style="cursor: pointer;" (click)="regresar()">Regresar</a></li>
                        </ul>
                      </div>
            
                  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" style="margin-left: 1%">
                    <div class="dropdown text-end">
                      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="assets/img/imgterapeuta.png" alt="mdo" width="40" height="40" class="rounded-circle ml-5" (click)="irLogin()">
                      </a>
                    </div>
            
                    <div class="text-end">
                      <button type="button" class="btn btn-danger" (click)="irLogin()">Cerrar sesión</button>
                    </div>
                  </div>
        </div>
    </nav>
   
    <!--Formulario de abajo-->
    <div class="principal">
        <div class="container w-50 rounded shadow mb-3" style="background-color:rgba(92, 99, 106, 0.342)">
            <br>
            <h1 class="text-center" style="margin-top: 20px;">{{titulo}}</h1>
            <hr>
            <br>

            <!--datos personales-->
            <div class="etiquetas">
                <h4>Datos de la consulta:</h4>
            </div>
        
            <form action="mt-3" [formGroup]="consultaForm" (ngSubmit)="agregarConsulta()">
           
                <div class="row g-4">
                    <div class="col-md">
                       <div class="form-floating my-2">
                           <input formControlName="numConsulta" type="number" class="form-control" id="hora_registro"
                               placeholder="Numero de Consulta" required>
                           <label style="color:rgba(0, 0, 0, 0.5)" for="Numero de Consulta">Numero de consulta</label>
                       </div>
                   </div>
                </div>  

                <div class="row g-4">
                    <div class="col-md">
                       <div class="form-floating my-2">
                        <textarea class="form-control" formControlName="descripcion" placeholder="Descripción" id="descripcion"
                        style="height: 100px"></textarea>
                           <label style="color:rgba(0, 0, 0, 0.5)" for="descripcion">Descripción</label>
                       </div>
                   </div>
                </div>

                <div class="row g-4">
                    <div class="col-md">
                       <div class="form-floating my-2">
                           <input formControlName="ejerciciosCasa" type="text" class="form-control" id="ejercicios"
                               placeholder="ejercicios en casa" required>
                           <label style="color:rgba(0, 0, 0, 0.5)" for="ejercicios en casa">Ejercicios</label>
                       </div>
                   </div>
                </div>

                <br>
                <div class="d-grid col-12 mx-auto">
                    <button (onClick)="agregarConsulta()" class="btn btn-primary btn-lg" type="submit" style="background-color:rgb(33, 37, 41)">Guardar</button>
                </div>
                <br>
                
            </form>

        </div>
    </div>
</body>

</html>