<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio Doctor</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-md text-end">
    <div class="container-fluid"><a class="navbar-brand" routerLink="/principal">Expediente Clínico
        Digital [Administrador] - </a><button data-bs-toggle="collapse" class="navbar-toggler"
        data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/img/admin.png" alt="mdo" width="40" height="40" class="rounded-circle ml-5">
          </a>
        </div>

        <div class="text-end">
          <button type="button" class="btn btn-danger">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </nav>

  <div class="container mt-5 rounded shadow" style="background-color: rgba(162, 173, 184, 0.342);" >
    <div class="col-lg-12">
      <div class="container-fluid mb-2" style="text-align: center;">
        <br>
        <span class="col titulo"><b>Consulta de operaciones</b></span>
        <div class=" col container-fluid my-3">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar operación" aria-label="Search">
            <button class="btn btn-outline-success me-5" type="submit">Buscar<i class="fa-solid fa-magnifying-glass"></i></button>
            <button class="btn btn-secondary btn-sg">Volver<i class="fa-solid fa-arrow-left"></i></button>
          </form>
        </div> 
      </div>
      
      <table class="table" style="text-align:center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Tipo</th>
            <th scope="col">Usuario</th>
          </tr>
        </thead>
        <tbody>

          <div>
 
          </div>
        </tbody>
      </table>
      <h5 style="text-align: center; margin-top:10px">No hay operaciones para mostrar.</h5>

    </div>
  </div>
</body>
</html>