.carousel-control-prev-icon{
    background-color: chocolate;
}
 
.carousel-control-next-icon{
    background-color: chocolate;
}
 
div{
    text-align:center;
}
 
.imagen{border-radius:20%; width:800px; height: 250px;margin-top: 1rem;}
img{border-radius:20%; width:800px; height: 450px;margin-top: 1rem;}
 
.body{
    text-align: justify;
   
}
 
.textoblanco{
     color: rgb(206, 210, 213);
     text-align: center;
}
 
.bordeImagenFooter{
border-radius:30%;
 width:70px;
 height: 60px;
 margin-right: 1rem;
}
