<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis consultas</title>
</head>

<body style="padding-bottom:2%; background-color: rgb(255, 255, 255);">
            <nav class="navbar navbar-dark bg-dark navbar-expand-md text-end">
                <div class="container-fluid"><a class="navbar-brand" style="cursor: pointer;">Expediente Clínico
                        Digital [{{rol}}] - {{nombre}}</a><button data-bs-toggle="collapse" class="navbar-toggler"
                        data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span
                            class="navbar-toggler-icon"></span></button>

                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
                        style="margin-left: 1%">
                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle"
                                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/img/imgterapeuta.png" alt="mdo" width="40" height="40"
                                    class="rounded-circle ml-5" (click)="irInicio()">
                            </a>
                        </div>

                        <div class="text-end">
                            <button type="button" class="btn btn-danger" (click)="irLogin()">Cerrar sesión</button>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="principal">

                <div class="container mt-4 rounded shadow" style="background-color: rgba(162, 173, 184, 0.342);">
                    <div class="col-lg-12">
                        <div class="container-fluid mb-2" style="text-align: center;">
                            <br>
                            <span class="col titulo"><b>Consultas Atendidas: </b></span>
                            <h2 class="center">{{numConsultas}} de {{numConsultasTotales}}</h2>
                            <hr>
                            <div class="col container-fluid my-3">
                                <form class="d-flex" [formGroup]="busquedaGroup">
                                    <!-- <input #word class="form-control me-2" type="search" placeholder="Buscar historia"
                                        aria-label="Search" formControlName="nombre">
                                    <button class="btn btn-outline-success me-5" type="submit">Buscar<i
                                            class="fa-solid fa-magnifying-glass" ></i></button> -->
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <button class="btn btn-secondary btn-sg" (click)="irHistoriaLista()">Volver <i
                                                class="fa-solid fa-arrow-left"></i></button>
                                        <button class="btn btn-success btn-sg me-2" (click)="irNuevaConsulta()"
                                            *ngIf="rol == 'Terapeuta' && puedeAgregarConsulta==1">Añadir <i class="fa-solid fa-plus"></i></button>
                                            
                                            <button class="btn btn-danger btn-sg me-2" (click)="irNuevaConsulta()" [attr.disabled]="true"
                                            *ngIf="rol == 'Terapeuta' && puedeAgregarConsulta==0">Consultas Completadas <i class="fa-solid fa-plus"></i></button>
                                           
                                            <button class="btn btn-warning btn-sg me-2 mx-2"
                                            (click)="obtenerConsultasOcultas()" *ngIf="rol == 'Terapeuta'"> Ocultas <i
                                                class="fa-solid fa-clock-rotate-left"></i></button>
                                    </div>
                                </form>
                            </div>
                            <hr>

                            <div class="container">
                                <div class="row" *ngIf="listConsulta.length > 0">
                                    <div class="col-md-5 mx-auto" *ngFor="let consulta of listConsulta">
                                        <div class="card col border-primary mb-3 my-3" style="max-width: 30rem;"
                                            *ngIf="consulta.estatus=='A'">
                                            <div class="card-header">Número de consulta: {{consulta.numConsulta}}</div>
                                            <div class="card-body text-primary">
                                                <h5 class="card-title">{{consulta.descripcion}}</h5>
                                                <p class="card-text">{{consulta.ejerciciosCasa}}</p>

                                                <br>
                                                <a class="btn btn-primary mx-3"
                                                    (click)="irModificarConsulta(consulta._id)"
                                                    *ngIf="rol == 'Terapeuta'"><i class="fa-solid fa-pen-to-square"></i>
                                                    Editar</a>

                                                <a class="btn btn-danger" (click)="eliminarConsulta(consulta._id)"
                                                    *ngIf="rol == 'Terapeuta'"><i class="fa-solid fa-trash"></i>
                                                    Ocultar</a>

                                            </div>
                                            <div class="card-footer text-muted">Fecha: {{consulta.fechaRegistro}} Hora:
                                                {{consulta.horaRegistro}}</div>
                                        </div>
                                        <div class="card col border-danger mb-3 my-3" style="max-width: 30rem;"
                                            *ngIf="consulta.estatus=='N'">
                                            <div class="card-header">Número de consulta: {{consulta.numConsulta}}</div>
                                            <div class="card-body text-danger">
                                                <h5 class="card-title">{{consulta.descripcion}}</h5>
                                                <p class="card-text">{{consulta.ejerciciosCasa}}</p>

                                                <br>
                                                <!-- <a class="btn btn-success" (click)="irConsultas(historia._id)"><i class="fa-solid fa-user-doctor"></i> Consultas</a>
                                                <a class="btn btn-primary mx-3" (click)="irModificarHistoria(historia._id)"><i
                                                        class="fa-solid fa-pen-to-square"></i> Editar</a> -->
                                                <a class="btn btn-warning" (click)="activarConsulta(consulta._id)"><i
                                                        class="fa-sharp fa-solid fa-rotate-left"></i> Activar</a>
                                            </div>
                                            <div class="card-footer text-muted">Fecha: {{consulta.fechaRegistro}} Hora:
                                                {{consulta.horaRegistro}}</div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <h5 style="text-align: center; margin-top:10px" *ngIf="listConsulta.length == 0">No hay
                                consultas
                                para mostrar.</h5>
                        </div>

                    </div>
                </div>
            </div>

</body>

</html>