<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis consultas</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md text-end">
        <div class="container-fluid"><a class="navbar-brand" routerLink="/principal">Expediente Clínico
                Digital [Paciente] - </a><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-end" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" routerLink="/principal">Regresar</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <div class="titutlo" style="text-align:center">
        <b>
            <h1>Mis consultas</h1>
        </b>
    </div>

    <div class="card text-center border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Problema</li>
                <li class="list-group-item">Peso</li>
                <li class="list-group-item">Estatura</li>
            </ul>
            <br>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
    </div>

</body>

</html>