<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Paciente</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md text-end">
        <div class="container-fluid"><a class="navbar-brand" routerLink="/principal">Expediente Clínico
                Digital - [Terapeuta]</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-end" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" routerLink="/principal">Mis consultas</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/principal">Pacientes</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/principal">Regresar</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="principal">
        <div class="container w-50 rounded shadow mb-3" style="background-color:rgba(92, 99, 106, 0.342)">
            <br>
            <h2 class="text-center" style="margin-top: 20px;">Modificar Paciente</h2>
            <br>

            <div class="etiquetas">
                <b>Datos personales:</b>
            </div>

            <form action="mt-3">
                <div class="form-floating my-2">
                    <input formControlName="nombre" type="text" class="form-control" id="txtNombre" placeholder="Nombre(s)" readonly>
                    <label for="nombre">Nombre(s)</label>
                </div>

                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="apPaterno" type="text" class="form-control" id="txtPaterno"
                                placeholder="Apellido paterno" readonly>
                            <label for="apPaterno">Apellido paterno</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="apMaterno" type="text" class="form-control" id="txtMaterno"
                                placeholder="Apellido materno" readonly>
                            <label for="password">Apellido materno</label>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="fechaNac" type="date" min="1900-04-01" max="2021-12-31" value="" class="form-control" id="txtFecha"
                                placeholder="Fecha de nacimiento" readonly>
                            <label for="fechaNac">Fecha de nacimiento</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <select class="form-select" formControlName="sexo"  id="floatingSelectGrid" >
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Otro">Otro</option>
                            </select>
                            <label for="floatingSelectGrid">Sexo</label>
                        </div>
                    </div>
                </div>

                <br>

                <div class="etiquetas">
                    <b>Datos del usuario:</b>
                </div>

                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="usuario" type="text" class="form-control" id="txtUsuario"
                                placeholder="Usuario" required>
                            <label for="password">Usuario</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="password" type="password" class="form-control" id="txtPass"
                                placeholder="Contraseña" required>
                            <label for="password">Contraseña</label>
                        </div>
                    </div>
                </div>

                <br>

                <div class="etiquetas">
                    <b>Datos del domicilio:</b>
                </div>

                <div class="form-floating my-2">
                    <input formControlName="calle" type="text" class="form-control" id="calle"
                        placeholder="Calle" required>
                    <label for="calle">Calle</label>
                </div>

                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="numExterno" type="text" class="form-control" id="numExterno"
                                placeholder="Número externo" required>
                            <label for="password">Número externo</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="numInterno" type="text" class="form-control" id="numInterno"
                                placeholder="Número interno" required>
                            <label for="password">Número interno</label>
                        </div>
                    </div>
                </div>

                <div class="form-floating my-2">
                    <input formControlName="colonia" type="text" class="form-control" id="colonia"
                        placeholder="Colonia" required>
                    <label for="calle">Colonia</label>
                </div>

                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="entCalle1" type="text" class="form-control" id="entCalle1"
                                placeholder="Entre calle" required>
                            <label for="password">Entre calle</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="entCalle2" type="text" class="form-control" id="entCalle2"
                                placeholder="Y calle" required>
                            <label for="password">Y calle</label>
                        </div>
                    </div>
                </div>

                <div class="form-floating my-2">
                    <textarea class="form-control" placeholder="Referencias" id="referecias" style="height: 100px"></textarea>
                    <label for="referecias">Referencias</label>
                </div>

                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="municipio" type="text" class="form-control" id="municipio"
                                placeholder="Municipio" required>
                            <label for="password">Municipio</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="estado" type="text" class="form-control" id="estado"
                                placeholder="Estado" required>
                            <label for="password">Estado</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="pais" type="text" class="form-control" id="pais"
                                placeholder="País" required>
                            <label for="password">País</label>
                        </div>
                    </div>
                </div>

                <br>

                <div class="d-grid col-12 mx-auto">
                    <button class="btn btn-primary" type="submit" style="background-color:rgb(33, 37, 41)">Guardar</button>
                </div>
                
                <br>
            </form>
        </div>
    </div>
</body>
</html>