<!DOCTYPE html>
<html lang="es">
<style>
    body {
        background: #b9de5d;
        /* fallback for old browsers */
    }
</style>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro Historia</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md text-end">
        <div class="container-fluid">
            <a class="navbar-brand" (click)="irInicio()" style="cursor: pointer">Expediente Clínico Digital [{{ rol }}]
                - {{ nombre }}</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-end" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer" (click)="irHistorias()">Regresar</a>
                    </li>
                </ul>
            </div>

            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
                style="margin-left: 1%">
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="assets/img/imgterapeuta.png" alt="mdo" width="40" height="40"
                            class="rounded-circle ml-5" (click)="irInicio()" />
                    </a>
                </div>

                <div class="text-end">
                    <button type="button" class="btn btn-danger" (click)="irLogin()">
                        Cerrar sesión
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <!--Formulario de abajo-->
    <div class="principal">
        <div class="container w-50 rounded shadow mb-3" style="background-color: rgba(92, 99, 106, 0.342)">
            <br />
            <h2 class="text-center" style="margin-top: 20px">{{ titulo }}</h2>
            <br />
            <hr />

            <form action="mt-3" [formGroup]="historiaForm" (ngSubmit)="agregarHistoria()">
                <div class="etiquetas">
                    <b>Diagnostico:</b>
                </div>
                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="problematica" type="text" class="form-control" id="problematica"
                                placeholder="Diagnostico" required />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="problematica">Diagnostico...</label>
                            <div class="text-danger" *ngIf="historiaForm.get('problematica')?.hasError('required') && historiaForm.get('problematica')?.touched">
                                <span> <strong>*Problematica Obligatoria</strong> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <!--datos personales-->
                <div class="etiquetas">
                    <b>Datos personales del Paciente:</b>
                </div>

                <div class="form-floating my-2">
                    <input [attr.disabled]="true" formControlName="nombre" type="text" class="form-control" id="txtNombre"
                        placeholder="Nombre(s)" required />
                    <label style="color: rgba(0, 0, 0, 0.5)" for="nombre">Nombre(s)</label>
                </div>

                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input [attr.disabled]="true" formControlName="apPaterno" type="text" class="form-control" id="txtPaterno"
                                placeholder="Apellido paterno" required />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="apPaterno">Apellido paterno</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input [attr.disabled]="true" formControlName="apMaterno" type="text" class="form-control" id="txtMaterno"
                                placeholder="Apellido materno" required />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="password">Apellido materno</label>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input [attr.disabled]="true" formControlName="fecNacimiento" type="date" min="1900-04-01" max="2021-12-31"
                                value="aaaa-mm-dd" class="form-control" id="txtFecha" placeholder="Fecha de nacimiento"
                                required />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="fecNacimiento">Fecha de nacimiento</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <select [attr.disabled]="true" class="form-select" formControlName="sexo" id="floatingSelectGrid">
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                            <label for="floatingSelectGrid">Sexo</label>
                        </div>
                    </div>
                </div>

                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="peso" type="number" class="form-control" id="peso"
                                placeholder="peso" required />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="numero_INT">Peso(kg)</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="estatura" type="number" class="form-control" id="estatura"
                                placeholder="estatura" required />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="numero_INT">Estatura(cm)</label>
                        </div>
                    </div>
                </div>
                <br />

                <!--Contacto de emergencia -->
                <div class="etiquetas">
                    <b>Contacto de emergencia:</b>
                </div>

                <div class="form-floating my-2">
                    <input formControlName="emeNombre" type="text" class="form-control" id="emeNombre"
                        placeholder="emeNombre" required />
                    <label style="color: rgba(0, 0, 0, 0.5)" for="emeNombre">Nombre(s)</label>
                </div>

                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="emeParentesco" type="text" class="form-control" id="parentesco"
                                placeholder="parentesco" required />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="parentesco">Parentesco</label>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="emeCelular" type="text" class="form-control" id="celular"
                                placeholder="celular" required />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="celular">Número de celular</label>
                        </div>
                    </div>
                </div>

                <br />

                <!--datos necesarios para historia-->

                <div class="etiquetas">
                    <b>Datos médicos:</b>
                </div>

                <div class="row g-4" style="align-items: center">
                    <div class="col-3">
                        <div class="form-check form-switch text-center">
                            <input (change)="cambiarEstado1()" class="form-check-input" type="checkbox" role="switch"
                                id="switchAlergias" />
                            <input *ngIf="varAlergias == true" (change)="cambiarEstado1()" class="form-check-input"
                                type="checkbox" role="switch" id="switchAlergias" checked />
                            <label class="form-check-label" for="flexSwitchCheckDefault">¿Alergias?</label>
                        </div>
                    </div>
                    <div class="col-9">
                        <div *ngIf="varAlergias == true" class="form-floating my-2">
                            <input formControlName="alergias" type="text" class="form-control" id="alergias"
                                placeholder="alergias" required ng-disable="alergias" />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="alergias">Alergias</label>
                        </div>
                    </div>
                </div>

                <div class="row g-4" style="align-items: center">
                    <div class="col-3">
                        <div class="form-check form-switch text-center">
                            <input (change)="cambiarEstado2()" class="form-check-input" type="checkbox" role="switch"
                                id="flexSwitchCheckDefault" />
                            <input (change)="cambiarEstado2()" class="form-check-input" type="checkbox" role="switch"
                                id="flexSwitchCheckDefault" *ngIf="varCirugias == true" checked />
                            <label class="form-check-label" for="flexSwitchCheckDefault">¿Cirugias?</label>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="form-floating my-2" *ngIf="varCirugias == true">
                            <input formControlName="cirugias" type="text" class="form-control" id="cirugias"
                                placeholder="cirugias" ng-disable="cirugias" />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="cirugias">Cirugias</label>
                        </div>
                    </div>
                </div>

                <div class="row g-4" style="align-items: center">
                    <div class="col-3">
                        <div class="form-check form-switch text-center">
                            <input (change)="cambiarEstado3()" class="form-check-input" type="checkbox" role="switch"
                                id="flexSwitchCheckDefault" />
                            <input (change)="cambiarEstado3()" class="form-check-input" type="checkbox" role="switch"
                                id="flexSwitchCheckDefault" *ngIf="varTraFracturas == true" checked />

                            <label class="form-check-label" for="flexSwitchCheckDefault">¿Traumas / Fracturas?</label>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="form-floating my-2" *ngIf="varTraFracturas == true">
                            <input formControlName="traFracturas" type="text" class="form-control" id="traFracturas"
                                placeholder="traFracturas" />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="traFracturas">Traumas y Fracturas</label>
                        </div>
                    </div>
                </div>

                <div class="row g-4" style="align-items: center">
                    <div class="col-3">
                        <div class="form-check form-switch text-center">
                            <input (change)="cambiarEstado4()" class="form-check-input" type="checkbox" role="switch"
                                id="flexSwitchCheckDefault" />
                            <input (change)="cambiarEstado4()" class="form-check-input" type="checkbox" role="switch"
                                id="flexSwitchCheckDefault" *ngIf="varEnfCongenitas == true" checked />

                            <label class="form-check-label" for="flexSwitchCheckDefault">¿Enfermedades
                                congenitas?</label>
                        </div>
                    </div>
                    <div *ngIf="varEnfCongenitas == true" class="col-9">
                        <div class="form-floating my-2">
                            <input formControlName="enfCongenitas" type="text" class="form-control" id="enfCongenitas"
                                placeholder="enfCongenitas" />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="enfCongenitas">Enfermedades Congenitas</label>
                        </div>
                    </div>
                </div>

                <div class="row g-4" style="align-items: center">
                    <div class="col-3">
                        <div class="form-check form-switch text-center">
                            <input (change)="cambiarEstado5()" class="form-check-input" type="checkbox" role="switch"
                                id="flexSwitchCheckDefault" />
                            <input (change)="cambiarEstado5()" class="form-check-input" type="checkbox" role="switch"
                                id="flexSwitchCheckDefault" *ngIf="varEnfHereditarias == true" checked />

                            <label class="form-check-label" for="flexSwitchCheckDefault">¿Enfermedades
                                hereditarias?</label>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="form-floating my-2" *ngIf="varEnfHereditarias == true">
                            <input formControlName="enfHereditarias" type="text" class="form-control"
                                id="enfHereditarias" placeholder="enf_Hereditarias" />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="enfHereditarias">Enfermedades
                                Hereditarias</label>
                        </div>
                    </div>
                </div>

                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="otros" type="text" class="form-control" id="otros"
                                placeholder="otros" required />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="otros">Otros</label>
                        </div>
                    </div>
                </div>

                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <textarea formControlName="observaciones" type="text" class="form-control"
                                id="Observaciones" placeholder="Observaciones" required
                                style="height: 100px"></textarea>
                            <label style="color: rgba(0, 0, 0, 0.5)" for="observaciones">Observaciones</label>
                        </div>
                    </div>

                    <div class="col-md"><br>
                        <div class="form-floating my-2">
                            <input formControlName="numConsultasTotales" type="number" class="form-control" id="numConsultasTotales"
                                placeholder="peso" required />
                            <label style="color: rgba(0, 0, 0, 0.5)" for="numConsultasTotales">No. de Consultas Totales</label>
                            <div class="text-danger" *ngIf="historiaForm.get('numConsultasTotales')?.hasError('required') && historiaForm.get('numConsultasTotales')?.touched">
                                <span> <strong>*Consultas Obligatorias</strong> </span>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="d-grid col-12 mx-auto">
                    <button [disabled]="
                    historiaForm.get('problematica')?.hasError('required') ||
                    historiaForm.get('numConsultasTotales')?.hasError('required')"  
                    (onClick)="agregarHistoria()" class="btn btn-primary btn-lg" type="submit"
                        style="background-color: rgb(33, 37, 41)">
                        {{ titulo }}
                    </button>
                </div>
                <br />
            </form>
        </div>
    </div>
</body>

</html>