.bill-header {
  font-size: 12px;
  text-align: center;
}

.form-control:focus {
  border-color: #25476a;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#trs-hd {
  text-align: center;
}

.bill-header.cs {
  background-color: rgba(37,71,106,0.56);
  color: #fff;
}

.counter {
  padding: 8px;
  color: #ccc;
}

.results tr[visible='false'], .no-result {
  display: none;
}

.results tr[visible='false'], .no-result {
  display: none;
}

.counter {
  padding: 8px;
  color: #ccc;
}

.fa.fa-warning {
  font-size: 18px;
  color: #ff0000;
}

.warning.no-result {
  text-align: center;
}

.search.form-control {
  border-radius: 0px !important;
}

.search-table-col {
  margin-top: 100px;
}

.search-container {
  display: flex;
  font-size: 14px;
  margin: 25px 0px;
}


.search-input {
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  border-right: none;
  width: 100%;
}

.btn.btn-default.search-btn {
  border: 1px solid #ddd;
  background-color: #FFFFFF !important;
  border-radius: 0 5px 5px 0;
  border-left: none;
  background-image: none;
  box-shadow: none;
  color: #919693;
}
