<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo expediente</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <span class="titulo">Nuevo expediente</span>
                        <form action="mt-3" [formGroup]="expedienteForm" (ngSubmit)="agregarExpediente()">
                            <div class="mb-3">
                                <input formControlName="curp" type="text" class="form-control form-control-lg " placeholder="CURP">
                                <div class="text-danger float-start" 
                                *ngIf="expedienteForm.get('curp')?.hasError('required') && expedienteForm.get('curp')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input formControlName="peso" type="number" class="form-control form-control-lg" placeholder="Peso (Kg)">
                                <div class="text-danger float-start" 
                                *ngIf="expedienteForm.get('peso')?.hasError('required') && expedienteForm.get('peso')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input formControlName="altura" type="number" class="form-control form-control-lg" placeholder="Altura (Cm)">
                                <div class="text-danger float-start" 
                                *ngIf="expedienteForm.get('altura')?.hasError('required') && expedienteForm.get('altura')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input formControlName="presion" type="number" class="form-control form-control-lg" placeholder="Presión arterial">
                                <div class="text-danger float-start" 
                                *ngIf="expedienteForm.get('presion')?.hasError('required') && expedienteForm.get('presion')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input formControlName="padecimiento" type="text" class="form-control form-control-lg" placeholder="Padecimiento">
                                <div class="text-danger float-start" 
                                *ngIf="expedienteForm.get('padecimiento')?.hasError('required') && expedienteForm.get('padecimiento')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input formControlName="medicacion" type="text" class="form-control form-control-lg" placeholder="Medicación">
                                <div class="text-danger float-start" 
                                *ngIf="expedienteForm.get('medicacion')?.hasError('required') && expedienteForm.get('medicacion')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button routerLink="/doctor-inicio" class="btn btn-secondary float-start">Volver</button>
                                <button type="submit" [disabled]="expedienteForm.invalid" class="btn btn-primary float-end">Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>