<!DOCTYPE html>
<html lang="en">

    <style>
        body {
          background: #F8F9FA; /* fallback for old browsers */
     
        }
      </style>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio Terapeuta</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-md text-end">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/principal"
            >Expediente Clínico Digital</a
          ><button
            data-bs-toggle="collapse"
            class="navbar-toggler"
            data-bs-target="#navcol-1"
          >
            <span class="visually-hidden">Toggle navigation</span
            ><span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-end" id="navcol-1">
            <ul class="navbar-nav ms-auto">
              <img
                class="fotoPerfil"
                src="assets/img/image-pacient.png"
                alt="imagenPaciente"
              />
              <span class="mx-2 navbar-brand">Out</span>
            </ul>
          </div>
        </div>
      </nav>
      <br />
  
      <header class="page-header-ui page-header-ui-light bg-white">
        <div class="page-header-ui-content">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8 col-lg-10 text-center">
                        <img class="mb-4" src="../../../assets/img/fisioterapeuta_avatar.png" style="width: 15rem">
                        <h1 class="page-header-ui-title">Bienvenido(a) {{nombre}}</h1>
                        <p class="page-header-ui-text">La verdadera reforma de salud no puede suceder en Washington. Debe suceder en nuestras cocinas, en nuestras casas, y en nuestras comunidades. El cuidado de la salud es personal.  Mehmet Oz. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="svg-border-rounded text-light">
            <!-- Rounded SVG Border-->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
        </div>
    </header>
  
    <div class="container px-5">
      <div class="row gx-5 text-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <img class="mb-4" src="assets/img/buscar.jpg" style="width: 15rem">
                <h3>MIS CONSULTAS</h3>
            </div>
             
            <div class="col-lg-6 mb-9 mb-lg-2">    
                <img class="mb-10" (click)="irPacientes()" src="assets/img/PACIENTE.jpg" style="width: 15rem; cursor: pointer;">
                <h3 style="cursor: pointer;" routerLink="/terapeuta-inicio-pacientes">PACIENTES</h3>
            </div>
          
             
              
             <!--<p class="mb-0">I provide custom illustration services for contract clients</p>--> 
            </div>
         
      </div>
  
                 
      




</body>
</html>