<nav class="navbar navbar-dark bg-primary navbar-expand-md text-end">
    <div class="container-fluid"><a class="navbar-brand" routerLink="/principal">Expediente Clínico Digital</a><button
            data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-end" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/inicio">Inicio</a></li>
                <li class="nav-item"><a class="nav-link active" routerLink="/conocenos">Conócenos</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/transparencia">Transparencia</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/login">Iniciar sesión</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container text-center my-4">
    <div class="intro">
        <h2 class="text-center" data-aos="zoom-in">Regístrate para que puedas consultar tu información clínica
        </h2>
        <p class="text-center" data-aos="zoom-out">Inicia sesión e ingresa tu información básica, bienvenido a
            tu expediente clínico digital.</p>
    </div>
    <div class="buttons">
        <a class="btn btn-primary" role="button" data-bss-hover-animate="pulse"
            routerLink="/login">¡Iniciar sesión!
        </a>
        <button class="btn btn-light" data-bss-hover-animate="pulse"
            type="button" routerLink="/registroP">Registrarse
        </button>
    </div>
</div>

<div class="container">
    <div class="intro my-4">
        <h2 class="text-center" data-aos="fade" data-aos-duration="950" id="conocenos-ref"
            style="color: rgb(49, 52, 55);">Conócenos
        </h2>
        <p class="text-center" data-aos="fade" data-aos-duration="900" data-aos-offset="10"
            style="color: rgb(125, 130, 133);">El proyecto es desarrollado por un equipo de estudiantes de
            Ingeniería en
            Sistemas Computacionales del Instituto Tecnológico de Tepic, este surge al observar la necesidad
            de
            implementar un expediente clínico electrónico como una herramienta crucial en la construcción de
            un sistema
            de gestión hospitalaria más eficiente y confiable.
        </p>
        <div style="width:auto;height:0px;border-color:#2195f336;border-width:0.1px;border-style:solid;"></div>
    </div>
    <div class="my-4">
        <h2 class="text-center" data-aos="fade" data-aos-duration="950">Propósito</h2>
        <p class="text-center" data-aos="fade" data-aos-duration="900">El expediente clínico digital
            sirve
            para
            recopilar y almacenar información relevante del paciente de forma ordenada y sistemática,
            con el
            propósito
            de brindar asistencia y soluciones a las necesidades y problemas que enfrentan los médicos
            en
            relación al
            manejo y acceso a dicha información, misma que es de vital importancia al momento de llevar
            a
            cabo sus
            actividades.
        </p>
        <div style="width:auto;height:0px;border-color:#2195f336;border-width:0.1px;border-style:solid;"></div>
    </div>
    <div class="intro my-4">
        <h2 class="text-center" data-aos="fade" data-aos-duration="950">Funcionalidades</h2>
        <p class="text-center" data-aos="fade" data-aos-duration="900">
            Con cada una de estas herramientas se espera dar una experiencia superior a cada paciente.
        </p>
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div data-bss-hover-animate="pulse" class="box"><i class="fa fa-search icon"></i>
                    <h4 class="name">Consulta tu expediente clínico</h4>
                    <p class="description">Obtén acceso a tu información en cualquier lugar y
                        momento.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div data-bss-hover-animate="pulse" class="box"><i class="fa fa-crosshairs icon"></i>
                    <h4 class="name">Registro de información actualizada</h4>
                    <p class="description">Cada doctor podrá agregar información correspondiente a
                        su expediente
                        clínico.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div data-bss-hover-animate="pulse" class="box"><i class="fa fa-download icon"></i>
                    <h4 class="name">Descarga de documentación clínica</h4>
                    <p class="description">La descarga de información será primordial para los
                        pacientes y doctores.
                    </p>
                </div>
            </div>
        </div>
        <div style="width:auto;height:0px;border-color:#2195f336;border-width:0.1px;border-style:solid;"></div>
    </div>

    <div class="my-4">
        <h2 class="text-center" data-aos="fade" data-aos-duration="950">Antecedentes</h2>
        <p class="text-center" data-aos="fade" data-aos-duration="900">Históricamente, el expediente
            clínico, es “el conjunto
            de información ordenada y detallada que recopila cronológicamente todos los aspectos relativos a
            la salud de un paciente
            y a la de su familia en un periodo determinado de su vida; representa una base para conocer las
            condiciones de salud, los
            actos médicos y los diferentes procedimientos ejecutados por el equipo médico a lo largo de un
            proceso asistencial”. Con
            el avance de las ciencias y la tecnología, este concepto evoluciona, considerándose como un
            Sistema Informático que almacena
            los datos del paciente en formato digital, que se almacenan e intercambian de manera segura y
            puede ser accedido por múltiples
            usuarios autorizados.
        </p>
        <div style="width:auto;height:0px;border-color:#2195f336;border-width:0.1px;border-style:solid;"></div>
    </div>

    <div class="my-4">
        <h2 class="text-center" data-aos="fade" data-aos-duration="950" style="margin: 0px 0px 15px;">
            Justificacion</h2>
        <p class="text-center" data-aos="fade" data-aos-duration="900">El contar con un expediente clínico
            electrónico constituye una de las mayores aspiraciones por parte de las
            Instituciones del Sistema Nacional de Salud (SNS), en la medida que su manejo incrementa
            sensiblemente la seguridad en
            la atención de los pacientes al contar con información más oportuna y precisa sobre la
            salud-enfermedad de la población
            usuaria favoreciendo con ello que la atención médica sea más eficaz y segura.
        </p>
        <div style="width:auto;height:0px;border-color:#2195f336;border-width:0.1px;border-style:solid;"></div>
    </div>

    <div class="my-4">
        <h2 class="text-center" data-aos="fade" data-aos-duration="950">Objetivos</h2>
        <p class="text-center" data-aos="fade" data-aos-duration="900">Fortalecer el Expediente Clínico a fin de
            mejorar la calidad de la prestación de servicios médicos, seguridad del
            paciente y pronta atención a situaciones emergentes ya se en México o en el entorno privado, con
            estricto apego a los
            principios de licitud, consentimiento, calidad, disponibilidad, confidencialidad y seguridad de
            datos personales.
            Afianzar de manera electrónica los datos sobre la salud del paciente, permitiendo contar con
            información clínica precisa
            y esencial disponible, evitando el deterioro, maltrato, extravío e ilegibilidad de expedientes
            clínicos tradicionales,
            manteniendo en todo momento información de salud actualizada y veraz.
        </p>
    </div>
    <div style="width:auto;height:0px;border-color:#2195f336;border-width:0.1px;border-style:solid;"></div>
</div>

<div class="container my-4">
    <div class="intro">
        <h3 class="text-center">Desarrolladores</h3>
        <p class="text-center">Ingenieros del Tecnológico Nacional de México Campus Tepic</p>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col cover">
            <h3 class="name">Alison Rodríguez </h3>
            <p class="title">Ing en sistemas computacionales</p>
            <div style="text-align: center;">
                <img class="bordeImagen " src="assets/img/alison.jpg" alt="Allison">
            </div>
        </div>

        <div class="col cover">
            <h3 class="name">Cristian Villagrana</h3>
            <p class="title">Ing en sistemas computacionales</p>
            <div style="text-align: center;">
                <img class="bordeImagen " src="assets/img/cristian.jpg" alt="Cristian">
            </div>
        </div>

        <div class="col cover">
            <h3 class="name">Alexis Salas</h3>
            <p class="title">Ing en sistemas computacionales</p>
            <div style="text-align: center;">
                <img class="bordeImagen " src="assets/img/alexis.jpeg" alt="Alexis">
            </div>
        </div>
    </div>
    <div class="row my-4" style="text-align: center;">

        <div class="col cover">
            <h3 class="name">Carlos Zambrano</h3>
            <p class="title">Ing en sistemas computacionales</p>
            <div style="text-align: center;">
                <img class="bordeImagen " src="assets/img/carlos.jpeg" alt="Carlos">
            </div>
        </div>
        <div class="col cover">
            <h3 class="name">Sergio Serrano</h3>
            <p class="title">Ing en sistemas computacionales</p>
            <div style="text-align: center;">
                <img class="bordeImagen " src="assets/img/sergio.jpg" alt="Sergio">
            </div>
        </div>
    </div>
</div>