body{
    text-align: justify;
    background-size: 100%;
    background: #ffffff;
    background: -webkit-linear-gradient(
        to right,
        #ffffff,
        #ffffff
    );

    background: linear-gradient(
        to right,
        #ffffff,
        #ffffff
    );
}

.bordeImagenFooter{
border-radius:30%;
 width:70px;
 height: 60px;
 margin-right: 1rem;
}

.lead{
    text-align: justify;
}

.principal{
    padding-top: 2%;
    padding-bottom: 1%;
}

.etiquetas{
    text-align: center;
}

.container-fluid{
    padding-left: 3%;
    padding-right: 3%;
}

.bg {
    background-image: url(../../../assets/img/avatar.png);
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: center center;
}