<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio paciente</title>
</head>
<body>
    
    <nav class="navbar navbar-dark bg-primary navbar-expand-md text-end">
        <div class="container-fluid"><a class="navbar-brand" routerLink="/principal">Expediente Clínico Digital PACIENTE</a><button
            data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
              navigation</span><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse text-end" id="navcol-1">
            <ul class="navbar-nav ms-auto">
              <img class="fotoPerfil" src="assets/img/image-pacient.png" alt="imagenPaciente">
              <span class="mx-2 navbar-brand">Nombre usuario</span>
            </ul>
          </div>
        </div>
      </nav>
      
</body>
</html>