<!DOCTYPE html>
<html lang="en">
  <style>
    body {
      background: #36d1dc; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #5b86e5,
        #36d1dc
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #5b86e5,
        #36d1dc
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  </style>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio paciente</title>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-md text-end">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/principal"
          >Expediente Clínico Digital PACIENTE</a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-end" id="navcol-1">
          <ul class="navbar-nav ms-auto">
            <img
              class="fotoPerfil"
              src="assets/img/image-pacient.png"
              alt="imagenPaciente"
            />
            <span class="mx-2 navbar-brand">Out</span>
          </ul>
        </div>
      </div>
    </nav>
    <br />

    <div class="container w-50 bg-primary rounded shadow abajo">
      <span class="navbar-brand mb-0 h1">Nombre Paciente</span>
    </div>

    <br>

    <div class="container w-75 bg-primary rounded shadow abajo">
      <div class="row align-items-stretch">
        <nav class="navbar" style="background-color: #e3f2fd">
          <div class="container">
            <div class="row">
              <div class="col">
                
                
                <img class="img-fluid mx-auto rounded" src="assets/img/d.jpg" alt="Avance" />
   

                <div class="progress">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: 75%"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    75%
                  </div>
                 
                </div>
                <span class="navbar-brand mb-0 h1 text-align: center"
                >Avance</span>
              </div>
            </div>

            <div class="col" >
              <img class="img-fluid rounded mx-auto" src="assets/img/m.jpg" alt="Avance" />
              <button class="btn btn-primary " >
                <i class="fa-solid fa-book"></i> Mis Consultas
              </button>
            </div>
          </div>
         
        </nav>
      </div>
    </div>
  </body>
</html>
