<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio Administrador</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-md text-end">
    <div class="container-fluid"><a class="navbar-brand" >Expediente Clínico
      Digital [Administrador] - {{nombre}}</a><button data-bs-toggle="collapse" class="navbar-toggler"
        data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/img/admin.png" alt="mdo" width="40" height="40" class="rounded-circle ml-5">
          </a>
        </div>

        <div class="text-end">
          <button type="button" class="btn btn-danger" (click)="irLogin()">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </nav>

  <header class="page-header-ui page-header-ui-light bg-muted">
    <div class="page-header-ui-content">
      <div class="container px-5">
        <div class="row gx-5 justify-content-center">
          <div class="col-xl-8 col-lg-10 text-center">
            <img class="mb-4" src="assets/img/admin.png" style="width: 12rem">
            <h1 class="page-header-ui-title">Bienvenido(a): {{nombre}}</h1>
            <p class="page-header-ui-text">Donde hay una empresa de éxito, alguien tomó alguna vez una decisión
              valiente. Gestión es hacer las cosas bien, liderazgo es hacer las cosas. </p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container px-5">
    <div class="row gx-5 text-center">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h3>Terapeutas</h3>
        <br>
        <img (click)="irTerapeutas()" class="mb-10" src="assets/img/terapeuta-fisico.png" style="width: 12rem">
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <h3>Pacientes</h3>
        <br>
        <img (click)="irPacientes()" class="mb-10" src="assets/img/examen.png" style="width: 12rem">
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <h3>Operaciones</h3>
        <br>
        <img (click)="irOperaciones()" class="mb-10" src="assets/img/sistema-operativo.png" style="width: 12rem">
      </div>
    </div>

  </div>
</body>

</html>