<!DOCTYPE html>
<html lang="en">

<body class="text-center">
    <nav class="navbar navbar-dark bg-primary navbar-expand-md text-end">
        <div class="container-fluid"><a class="navbar-brand" routerLink="/principal">Expediente Clínico Digital</a><button
                data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-end" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" routerLink="/inicio">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/conocenos">Conócenos</a></li>
                    <li class="nav-item"><a class="nav-link active" routerLink="/transparencia">Transparencia</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/login">Iniciar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="width: 900px;">
        <div style="width:auto;height:0px;border-color:#2195f336;border-width:0.1px;border-style:solid;"></div>
        <div class="intro">
            <h2 class="text-center" data-aos="fade" data-aos-duration="950" id="transparencia-ref"
                style="color: rgb(49, 52, 55);margin: 0px 0px 40px;padding: 40px 0px 0px;"><i
                    class="fa fa-universal-access"></i>&nbsp; Transparencia</h2>
        </div>
        <div>
            <p class="text-justify" data-aos="fade" data-aos-duration="900" style="color: rgb(125, 130, 133);">
                Históricamente, el expediente clínico se considera como el conjunto de información ordenada y detallada
                que recopila cronológicamente todos los aspectos relativos a la salud de un paciente en un periodo
                determinado de su vida; representa una base para conocer las condiciones de salud y los diferentes
                procedimientos médicos que ha recibido dicho paciente. Con el avance de las ciencias y la tecnología,
                este concepto evoluciona, considerándose como un sistema informático que almacena los datos del paciente
                en formato digital, que se almacenan e intercambian de manera segura y puede ser accedido por múltiples
                usuarios mediante autorización y autentificación.</p>
            <div style="padding:0px 0px 30px 0px"></div>
            <p class="text-center" data-aos="fade" data-aos-duration="900" data-aos-offset="10"
                style="color: rgb(125, 130, 133);">A través de nuestro sitio web recopilamos la información personal y
                clínica que se nos proporciona de manera voluntaria, así como información de registro de cuentas de
                usuario. Esta información únicamente es utilizada para brindar los servicios ofrecidos y asegurar el
                correcto funcionamiento del sitio web.<br><br>Los datos personales se refieren a aquella información de
                una persona identificada o que la hace identificable; asimismo, son parte nuclear de la identidad de un
                individuo, puesto que estos permiten hacer una referencia exacta y objetiva para particularizar a una
                persona y hacerla sujeto de derechos y obligaciones.<br>En cumplimiento de la protección y transparencia
                de sus datos personales, ponemos a su disposición enlaces de utilidad en caso de requerir orientación
                para la protección y tratamiento de sus datos personales:<br><a href="https://home.inai.org.mx">
                    <br>
                    <em>Como
                        proteger sus datos personales, INAI.</em></a><br><a
                    href="https://www.salesforce.com/mx/blog/2020/11/ley-de-proteccion-de-datos-personales.html#:~:text=La%20Ley%20de%20Protecci%C3%B3n%20de,Ley%20de%20Protecci%C3%B3n%20de%20Datos."><em>Ley
                        de protección de Datos personales</em></a></p><img class="img-fluid"
                src="https://home.inai.org.mx/wp-content/uploads/Group-1@2x-1.png">
            <p><br>Así mismo, en la siguiente sección podrás consultar los avisos de privacidad integrales y
                simplificados generados por el INAI, de conformidad con lo dispuesto en los artículos 27 y 28 de la Ley
                General de Protección de Datos Personales en Posesión de Sujetos Obligados (LGPDPPSO) para informar a
                las personas sobre los propósitos del tratamiento de los datos personales que recaba<br><br></p>
            <p data-bss-hover-animate="pulse"><a href="https://home.inai.org.mx/?page_id=8107">Avisos de
                    Privacidad</a><br><a href="https://www.plataformadetransparencia.org.mx">Plataforma Nacional de
                    Transparencia</a></p><img class="img-fluid"
                src="https://www.plataformadetransparencia.org.mx/o/Theme-theme/images/logoheader.png">
            <div style="padding:0px 0px 30px 0px"></div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/Dynamic-Table.js"></script>
</body>

</html>