<!DOCTYPE html>
<html lang="en">

    <style>
        body {
          background: #ffffff; /* fallback for old browsers */
     
        }
      </style>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio Terapeuta</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-md text-end">
    <div class="container-fluid"><a class="navbar-brand">Expediente Clínico
      Digital [Terapeuta] - {{nombre}}</a><button data-bs-toggle="collapse" class="navbar-toggler"
        data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/img/imgterapeuta.png" alt="mdo" width="40" height="40" class="rounded-circle ml-5">
          </a>
        </div>

        <div class="text-end">
          <button type="button" (click)="irLogin()" class="btn btn-danger">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </nav>
  
      <header class="page-header-ui page-header-ui-light bg-white">
        <div class="page-header-ui-content">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8 col-lg-10 text-center">

                        <img class="mb-4" src="../../../assets/img/imgterapeuta.png" style="width: 12rem">
                        <h1 class="page-header-ui-title">Bienvenido(a): {{nombre}}</h1>
                        <p class="page-header-ui-text">La verdadera reforma de salud no puede suceder en Washington. Debe suceder en nuestras cocinas, en nuestras casas, y en nuestras comunidades. El cuidado de la salud es personal - Mehmet Oz. </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </header>
  
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 mb-9 mb-lg-2" style="background-color: rgb(255, 255, 255);">
          <div class="card-body">
            <h3>Mis Consultas</h3>
            <br>
            <img class="mb-3" src="assets/img/tcuaderno.png" style="width: 12rem">
            <br>
          </div>
        </div> 
        <div class="col-lg-6 mb-9 mb-lg-2" style="background-color: rgb(255, 255, 255);">
          <h3>Pacientes</h3>
          <br>

          <img class="mb-10" (click)="irPacientes()" src="assets/img/paciente.png" style="width: 12rem;">

        </div>
      </div>
    </div>
</body>
</html>