<!DOCTYPE html>
<html lang="en">
<style>
  body {
    background: #ffffff;
    /* fallback for old browsers */
  }
</style>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio Paciente</title>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark navbar-expand-md text-end">
      <div class="container-fluid"><a class="navbar-brand" (click)="irPrincipal()" style="cursor: pointer;">Expediente
          Clínico
          Digital [Paciente] - {{nombre}} </a><button data-bs-toggle="collapse" class="navbar-toggler"
          data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span
            class="navbar-toggler-icon"></span></button>

        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
          style="margin-left: 1%">
          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="assets/img/avatar.png" alt="mdo" width="40" height="40" class="rounded-circle ml-5">
            </a>
          </div>

          <div class="text-end">
            <button type="button" class="btn btn-danger" (click)="irLogin()">Cerrar sesión</button>
          </div>
        </div>
      </div>
    </nav>

    <!--<header class="page-header-ui page-header-ui-light bg-white">-->
    <header class="page-header-ui page-header-ui-light">
      <div class="page-header-ui-content">
        <div class="container px-5">
          <div class="row gx-2 justify-content-center">
            <div class="col-xl-8 col-lg-10 text-center">
              <img class="mb-4" src="assets/img/avatar.png" style="width: 12rem">
              <h1 class="page-header-ui-title">Bienvenido(a): {{nombre}}</h1>
              <p class="page-header-ui-text">El entrenamiento físico sigue siendo la piedra angular de la RR, así como
                para nosotros es sumamente importante que te mejores, por lo que nunca digas nunca, porque a menudo los
                límites, como los miedos, son solo ilusiones.
              </p>
              <br>


            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 mb-9 mb-lg-2" style="background-color: rgb(255, 255, 255);">
          <div class="card-body">
            <h3>Mi Avance</h3>
            <br>
            <img class="mb-3" src="assets/img/terapia-fisica.png" style="width: 12rem">
            <br>
            <!-- Regular progress bar-->
            <div style="height: 15px; width: 50%;" class="progress">
              <div role="progressbar" aria-valuenow="10" aria-valuemin="50" aria-valuemax="100" style="width: 50%"
              class="progress-bar">Completado: {{porcentaje}}%</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-9 mb-lg-2" style="background-color: rgb(255, 255, 255);">
          <h3>Ver mi historial</h3>
          <br>
          <img class="mb-10" src="assets/img/cuaderno.png" style="width: 12rem; cursor:pointer" (click)="irConsultas()">
        </div>
      </div>
    </div>

</body>

</html>