<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-md text-end">
        <div class="container-fluid"><a class="navbar-brand" routerLink="/principal">Expediente Clínico
                Digital</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-end" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" routerLink="/principal">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/conocenos">Conocenos</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/transparencia">Transparencia</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/login">Iniciar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Formulario de abajo-->
    <div class="container w-50 rounded shadow mb-3">

        <h2 class="text-center" style="margin-top: 20px;">Registro Paciente</h2>
        <!--
            <div class="text-center" style="display: block; margin: auto; margin-top: 20px;">
            <img src="assets/img/sneeze%20(1).png" width="100rem">
        </div>
-->
        <form action="mt-3" [formGroup]="pacienteForm" (ngSubmit)="guardarPaciente()">
            <div class="form-floating my-2">
                <input formControlName="nombre" type="text" class="form-control" id="txtNombre" placeholder="Nombre(s)"
                    required>
                <label for="nombre">Nombre(s)</label>
                <!-- <div class="text-danger float-start" 
        *ngIf="pacienteForm.get('nombre')?.hasError('required') && pacienteForm.get('nombre')?.touched">
            <span>Este campo es <strong>obligatorio</strong></span>
        </div> -->
            </div>
            <div class="row my-2">
                <div class="col form-floating">
                    <input formControlName="apPaterno" type="text" class="form-control" id="txtPaterno"
                        placeholder="Apellido paterno" required>
                    <label for="apPaterno">Apellido paterno</label>
                </div>
                <div class="col form-floating">
                    <input formControlName="apMaterno" type="text" class="form-control" id="txtMaterno"
                        placeholder="Apellido materno" required>
                    <label for="apMaterno">Apellido materno</label>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating my-2">
                        <input formControlName="fechaNac" type="date" min="1900-04-01" max="2021-12-31" value="1999-12-30" class="form-control" id="txtFecha"
                            placeholder="Fecha de nacimiento" required>
                        <label for="fechaNac">Fecha de nacimiento</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating my-2">
                        <select class="form-select" formControlName="sexo"  id="floatingSelectGrid" >
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Otro</option>
                        </select>
                        <label for="floatingSelectGrid">Elige el sexo</label>
                    </div>
                </div>
            </div>


            <div class="form-floating my-2">
                <input formControlName="usuario" type="text" class="form-control" id="txtUsuario"
                    placeholder="usuario" required>
                <label for="password">Usuario</label>
            </div>
            <div class="form-floating my-2">
                <input formControlName="password" type="password" class="form-control" id="txtPass"
                    placeholder="Contraseña" required>
                <label for="password">Contraseña</label>
            </div>
            <br>
            <div class="d-grid col-12 mx-auto">
                <button (onClick)="guardarPaciente()" class="btn btn-primary" type="submit" >Guardar</button>
            </div>
            <br>
        </form>

    </div>
</body>

</html>