.principal{
    background: #52b3cd; /* fallback for old browsers */
    padding-top: 2%;
    padding-bottom: 1%;
}

.etiquetas{
    text-align: center;
}

.container-fluid{
    padding-left: 3%;
    padding-right: 3%;
}