<!DOCTYPE html>
<html lang="es">
    <style>
        body {
          background: #b9de5d; /* fallback for old browsers */
     
        }
      </style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Historia</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md text-end">
        <div class="container-fluid"><a class="navbar-brand" (click)="irInicio()">Expediente Clínico
                Digital - </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-end" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" routerLink="/principal">Mis consultas</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/principal">Pacientes</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/principal">Regresar</a></li>
                </ul>
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/img/image-doctor.png" alt="mdo" width="40" height="40" class="rounded-circle ml-5">
              </a>
            </div>
        </div> 
    </nav>

   
    <!--Formulario de abajo-->
    <div class="principal">
        <div class="container w-50 rounded shadow mb-3" style="background-color:rgba(92, 99, 106, 0.342)">
            <br>
            <h2 class="text-center" style="margin-top: 20px;">Registrar Historia</h2>
            <br>

            <!--datos personales-->
            <div class="etiquetas">
                <b>Datos personales:</b>
            </div>
            <form action="mt-3" [formGroup]="historiaForm" (ngSubmit)="agregarHistoria()">
                <div class="form-floating my-2">
                    <input formControlName="nombre" type="text" class="form-control" id="txtNombre" placeholder="Nombre(s)"
                        required>
                    <label for="nombre">Nombre(s)</label>
                 
                </div>

                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="apPaterno" type="text" class="form-control" id="txtPaterno"
                                placeholder="Apellido paterno" required>
                            <label for="apPaterno">Apellido paterno</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="apMaterno" type="text" class="form-control" id="txtMaterno"
                                placeholder="Apellido materno" required>
                            <label for="password">Apellido materno</label>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="fechaNac" type="date" min="1900-04-01" max="2021-12-31" value="1999-12-30" class="form-control" id="txtFecha"
                                placeholder="Fecha de nacimiento" required>
                            <label for="fechaNac">Fecha de nacimiento</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <select  class="form-select" formControlName="sexo"  id="floatingSelectGrid" >
                                <option selected value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option selected>Otro</option>
                            </select>
                            <label for="floatingSelectGrid">Sexo</label>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                 <div class="col-md">
                    <div class="form-floating my-2">
                        <input formControlName="edad" enable ="false" type="number" class="form-control" id="edad"
                            placeholder="edad" >
                        <label for="numero_INT">Edad</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating my-2">
                        <input formControlName="peso" type="number" class="form-control" id="peso"
                            placeholder="peso" required>
                        <label for="numero_INT">Peso(kg)</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating my-2">
                        <input formControlName="estatura" type="number" class="form-control" id="estatura"
                            placeholder="estatura" required>
                        <label for="numero_INT">Estatura(cm)</label>
                    </div>
                </div>
                </div>
                <div class="col4"> 
                   <div class="col-md">
                       <!--vacio-->
                   </div>
                   </div>

                <br>

                <!--Contacto de emergencia -->
                <div class="etiquetas">
                    <b>Contacto de emergencia:</b>
                </div>


                <div class="row g-4">
                    <div class="col-md">
                       <div class="form-floating my-2">
                           <input formControlName="eme_Nombre" type="text" class="form-control" id="eme_Nombre"
                               placeholder="eme_Nombre" required>
                           <label for="eme_Nombre">Nombre(s)</label>
                       </div>
                   </div>
                   </div>

                   <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="emeParentesco" type="text" class="form-control" id="parentesco"
                                placeholder="parentesco" required>
                            <label for="parentesco">Parentesco</label>
                        </div>
                    </div>
                    
                    </div>
                    <div class="row g-4">
                        <div class="col-md">
                            <div class="form-floating my-2">
                                <input formControlName="emeCelular" type="text" class="form-control" id="celular"
                                    placeholder="celular" required>
                                <label for="celular">Celular</label>
                            </div>
                        </div>
                        </div>

                <br>

                
                <!--datos necesarios para historia-->
                
                <div class="etiquetas">
                    <b>Datos de inicio al tratamiento:</b>
                </div>
              


                <div class="row g-4">
                    <div class="col-md">
                       <div class="form-floating my-2">
                           <input formControlName="alergias" type="text" class="form-control" id="alergia_d"
                               placeholder="alergia" required ng-disable="alergia">
                           <label for="alergia">Alergia(s)</label>
                       </div>
                   </div>
                </div>
              
                  <div class="form-check form-check-inline ">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="exampleRadios2" value="option2" checked ng-model="alergia_d">
                    <label class="form-check-label" for="exampleRadios2">
                      si
                    </label>
                </div>


                <div class="row g-4">
                    <div class="col-md">
                       <div class="form-floating my-2">
                           <input formControlName="cirugias" type="text" class="form-control" id="cirugia"
                               placeholder="cirugia" required>
                           <label for="cirugia">Cirugia(s)</label>
                       </div>
                   </div>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="exampleRadios1" value="option1" >
                    <label class="form-check-label" for="exampleRadios1">
                      Si
                    </label>
                  </div>
                 


                <div class="row g-4">
                    <div class="col-md">
                       <div class="form-floating my-2">
                           <input formControlName="traumasFracturas" type="text" class="form-control" id="traumas_fracturas"
                               placeholder="traumas_fracturas" required>
                           <label for="traumas_fracturas">Traumas/Fracturas</label>
                       </div>
                   </div>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="exampleRadios1" value="option1" >
                    <label class="form-check-label" for="exampleRadios1">
                      Si
                    </label>
                  </div>
                 

                
                <div class="row g-4">
                    <div class="col-md">
                       <div class="form-floating my-2">
                           <input formControlName="enfCongenitas" type="text" class="form-control" id="enf_Congenitas"
                               placeholder="enf_Congenitas" required>
                           <label for="enf_Congenitas">Enfermedades Congenitas</label>
                       </div>
                   </div>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="exampleRadios1" value="option1" >
                    <label class="form-check-label" for="exampleRadios1">
                      Si
                    </label>
                  </div>
                


                
                <div class="row g-4">
                    <div class="col-md">
                       <div class="form-floating my-2">
                           <input formControlName="enfHereditarias" type="text" class="form-control" id="enf_Hereditarias"
                               placeholder="enf_Hereditarias" required>
                           <label for="enf_Hereditarias">Enfermedades Hereditarias</label>
                       </div>
                   </div>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="exampleRadios1" value="option1" >
                    <label class="form-check-label" for="exampleRadios1">
                      Si
                    </label>
                  </div>
                 

                <div class="row g-4">
                    <div class="col-md">
                       <div class="form-floating my-2">
                           <input formControlName="otros" type="text" class="form-control" id="otros"
                               placeholder="otros" required>
                           <label for="otros">Otros</label>
                       </div>
                   </div>
                </div>
                <div class="row g-4">
                    <div class="col-md">
                       <div class="form-floating my-2">
                           <input formControlName="observaciones" type="text" class="form-control" id="Observaciones"
                               placeholder="Observaciones" required>
                           <label for="observaciones">Observaciones</label>
                       </div>
                   </div>
                </div>
                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating my-2">
                            <input formControlName="numConsultasTotales" type="number" class="form-control" id="numConsultasTotales"
                                placeholder="Consultas Totales" required>
                            <label for="numero_INT">Consultas Totales</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating my-2">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating my-2">
                        </div>
                    </div>
                </div>
                

                <br>
                <div class="d-grid col-12 mx-auto">
                    <button (onClick)="agregarHistoria()" class="btn btn-primary btn-lg" type="submit" style="background-color:rgb(33, 37, 41)">Guardar</button>
                </div>
                <br>
            </form>

        </div>
    </div>
</body>

</html>